# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
yolovenv/


# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Project specific
temp_uploads/
results/
runs/
extracted/
ignore/
images/
*.zip
*.pt